.Main{
    * {
        box-sizing: border-box;
        font-size: 1.5rem;
    }

    html {
        background-color: #FAFAFA;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .feeds {
        display: flex;
        justify-content: center;
        min-width: 900px;
        margin-top: 55px;
        z-index: -1;
        background-color: #FAFAFA;
    }
}