.LoginNav{
    nav {
        display: flex;
        justify-content: space-evenly;
        ul {
            display: flex;
            justify-content: space-between;
            font-weight: 600;
            color: #00376b;
            
            li {
                margin: 0px 3px;
                list-style: none;
            }
        }
    }

    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        min-width: 935px;
        font-size: 14px;
    }
}