.Aside {
    position: sticky;
    top: 11%;
    width: 295px;
    height: 665px;
    margin: 10px;
    padding-top: 15px;
    background-color: #FAFAFA;
        
    ul li {
        display: inline;
        font-size: 11px;
    }
    .sideBarMylogo {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        padding: 10px 0;

        img {
            width: 56px;
            height: 56px;
            border: 0px solid;
            border-radius: 100%;
        }

        a {
            margin-left: 10px;
        }
    }
    
    .sideBarSuggestions {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        font-weight: 600;
        color: #8e8e8e;
    }
    
    .sideBarSuggestionsPeople {
        margin: 15px auto;
    }
    
    .sideBarSuggestionsPerson {
        display: flex;
        justify-content: space-between;
        height: 40px;
        border: 0;
        margin-bottom: 10px;
    
        a {
            display: flex;
            align-items: center;
            margin: 8px;
            font-size: 12px;
            font-weight: 700;
            color: #0095f6;
        }
    }
    
    .SuggestionsPersonPicture {
        display: flex;
    
        img {
            width: 30px;
            height: 30px;
            border-radius: 100%;
        }  
    }
    
    .SuggestionsPersonName {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 10px;
    
        span{
            &:nth-child(1) {
                font-size: 14px;
                font-weight: 700;
            }
            &:nth-child(2) {
                font-size: 12px;
                font-weight: 600;
                color: #8e8e8e;
            }
        }
    }
    
    .sideBarBottom {
        display: flex;
        flex-direction: column;
        color: #c7c7c7;
    
        span {
            font-size: 12px;
        }
    
        ul {
            margin-bottom: 25px;
            padding: 0;
        }
    }

    @media screen and(max-width: 972px) {
        display: none;
        }    
}



