.Reply{
    display: flex;
    justify-content: space-between;

    div{
        &:nth-child(1){
            margin-left: 10px;
            font-size: 16px;
        }

        &:nth-child(2){
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
    .likeDeleteButton {
        display: inline-block;
    }
    
    .commentDeleteButton {
        border: 0;
        background-color: white;
    }
    
    .plusFeedComment {
        margin-left: 25px;
        overflow-wrap: anywhere;
    }
    
    .plusCommentDeleteBtn {
        width: 10px;
        height: 10px;
    }
    
    .plusCommentLike {
        width: 10px;
        height: 10px;
    }
}


