.Login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 935px;
    height: 100vh;
    background-color: #FAFAFA;
    box-sizing: border-box;

        .LoginContentwrapper {
            display: flex;
            justify-content: center;
        }
    
        .MainImage {
            width: 400px;
            height: 580px;

            @media screen and(max-width: 1000px) {
                display: none;
            }
        }
        
}
